# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Libero metadata
*runstatus.xml
*log.txt
*report.txt
*.log
*.rpt
*.srr
*.plg
*.tlg
cc3000fpga/synthesis/
cc3000fpga/simulation/
*$$*


# SoftConsole build files
Debug/


